    h1 {
  color: white;
  text-decoration: #DB2955 dashed 4px overline underline;
  letter-spacing: 2px;
  word-spacing: 10px;
    
}
body {
  background-color: #70D7FF;
}
img:hover {
        width:250px;
        border: yellow dashed 20px;
}
 
